<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cuizilin.website.mapper.TypeMapper">
    <resultMap id="typeResultMap" type="Type" autoMapping="true">
        <id property="typeId" column="type_id"></id>
        <collection property="articleList" column="type_id" javaType="List" select="top.cuizilin.website.mapper.ArticleMapper.searchOneByTypeId"></collection>
    </resultMap>

    <select id="searchOneByTypeId" resultType="Type">
       select * from t_type where type_id = #{typeId}
    </select>
</mapper>
